*{
    box-sizing: border-box;
}

h1{
    color: white; 
    background-color: rgb(28, 173, 28);
    text-align: center;
    margin-top: 0; 
}

h1,
h2,
footer{
    text-align: center; 
}

button{
    color: white; 
    background-color: rgb(28, 173, 28);
}

fieldset {
    border: 0;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
    height: 40px;  
}

input,
select,
textarea{
    margin-bottom: 5px; 
}

.container{
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
}


.box{
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
}

.item2,
.item4,
.item6,
.item8,
.item10,
.item12,
.item14 {
    width: 95%;
}  

input:focus,
textarea:focus {
   background-color: rgb(189, 189, 1);
  }

@media (min-width: 768px){
    .wrapper1{
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
    }

    .item2 {
        flex: 1 150px;
        margin-left: 74px;
    }
   
    .item4 {
        flex: 1 150px;
        margin-left: 50px;
    }

    .item6 {
        flex: 1 150px;
        margin-left: 53px;
    }

    .item8 {
        flex: 1 150px;
        margin-left: 45px;
    }

    .item10 {
        flex: 1 150px;
        margin-left: 112px;
    }

    .item12 {
        flex: 1 150px;
        margin-left: 100px;
    }

    .item14 {
        flex: 1 150px;
        margin-left: 82px;
    }
}