*{
    box-sizing: border-box;
}

h1{
    color: white; 
    background-color: rgb(28, 173, 28);
    text-align: center;
    margin-top: 0; 
}

h1,
h2,
footer{
    text-align: center; 
}

button{
    color: white; 
    background-color: rgb(28, 173, 28);
}

fieldset {
    border: 0;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
    height: 40px;  
}

input,
select,
textarea{
    margin-bottom: 5px; 
}

.container{
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
}


.box{
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
}

.item2,
.item4,
.item6,
.item8,
.item10,
.item12 {
    width: 95%;
}  

.item14{
    width: 50%;
}

input:focus,
textarea:focus {
   background-color: rgb(224, 248, 10);
  }

  header {
    text-align: center;
  }
  
  form {
    max-width: 768px;
    margin: 0 auto;
  }

  body {
    font-family: "Big Shoulders Display";
  }

  @media (min-width: 768px) {
    .wrapper1 {
      display: flex;
      flex-direction: row;
    }

    .wrapper1 label {
      flex-basis: 25%;
      margin: auto 0;
    }
    
    .wrapper1 input {
      flex-grow: 1;
      flex-basis: 75%;
    }
  
    .wrapper1 select {
      flex-grow: 1;
      flex-basis: 75%;
      width: 100%;
      height: 40px;
    }
  
    #zip {
      max-width: 25%;
    }
  }
    
}