*{
    box-sizing: border-box;
}

h1{
    color: white; 
    background-color: rgb(28, 173, 28);
    text-align: center;
    margin-top: 0; 
}

h1,
h2,
p,
footer{
    text-align: center; 
}

button{
    color: white; 
    background-color: rgb(28, 173, 28);
}

fieldset {
    border: 0;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
    height: 40px;  
}

input,
select,
textarea{
    margin-bottom: 5px; 
}

.container{
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
}



.item1{
    display: inline-block; 
}

.item2{
    display: inline-block; 
}

/* .inl{
    display: inline-block; 
} */

.box{
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
}

.left{
    text-align: left;
}
@media (min-width: 768px){
    body{
        display: flex;
        min-height:100vh;
        flex-direction: column; 
    }   
    
    .container{
        flex-direction: row;
        justify-content: space-between;
        
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea{
        flex-grow: 1 85%;
          
    }
}